.featured-in {
  padding: 3.2rem 4.8rem;
}

.heading-featured-in {
  font-size: 1.4rem;
  color: #777;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.2rem;
}

.companies-feautured {
  display: flex;
  justify-content: space-evenly;
  gap: 1.6rem;
}

.featured-logo {
  height: 3.2rem;
  width: auto;
  filter: brightness(0);
  opacity: 50%;
}

@media only screen and (max-width: 75em) {
  .featured-logo {
    height: 3rem;
  }
}

@media only screen and (max-width: 59em) {
  .featured-logo {
    font-size: 2.4rem;
  }

  .companies-featured {
    gap: 2.4rem;
  }

  .featured-logo {
    height: 2.4rem;
  }
}

@media only screen and (max-width: 44.6em) {
  .featured-logo {
    height: 2.4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .featured-logo {
    height: 1.8rem;
  }
}

@media only screen and (max-width: 31.87em) {
  .featured-logo {
    height: 1.6rem;
  }
}

@media only screen and (max-width: 25.625em) {
  .featured-logo {
    height: 1.4rem;
  }
}

@media only screen and (max-width: 22.875em) {
  .featured-logo {
    height: 1rem;
  }
}
