.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

@media only screen and (max-width: 84em) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 75em) {
  .gallery {
    // grid-template-columns: repeat(4, 1fr);
    padding: 6.4rem 1.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
