/* ***************************************** */
/* BELOW 1344px (Smaller Desktops) */
/* ***************************************** */

@media only screen and (max-width: 84em) {
  .heading-primary {
    font-size: 4.4rem;
  }
}

/* ***************************************** */
/* BELOW 1200px (LANDSCAPE TABLETS) */
/* ***************************************** */

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.2rem;
  }

  .heading-container {
    padding-right: 0;
  }

  .grid {
    gap: 4.8rem;
  }

  .sticky {
    padding: 2.8rem 4.8rem;
  }
}

/* ***************************************** */
/* BELOW 944px (TABLETS) */
/* ***************************************** */

@media only screen and (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 4.8rem 8rem;
    text-align: center;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Add it to the MobNav component when you create it */
  .btn-mob-nav {
    display: block;
  }

  .nav-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}

/* ***************************************** */
/* BELOW 713px (SMALL TABLETS) */
/* ***************************************** */

@media only screen and (max-width: 44.6em) {
  /* html {
    font-size: 43.75%;
  } */

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ***************************************** */
/* BELOW 510px (PHONES) */
/* ***************************************** */

@media only screen and (max-width: 31.87em) {
  /* html {
    font-size: 37.5%;
  } */

  .grid {
    gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 25em) {
  .heading-container {
    padding-right: 0;
  }
}
